@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,500&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* font-family: "Raleway"; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

span.ant-upload-wrapper > div.ant-upload {
  width: 100% !important; 
}

span.ant-upload-wrapper > div.ant-upload > span.ant-upload{
  width: 100%;
}

.mainButton {
  background-color: rgb(68, 68, 68);
  color: #fff;
  
}
.mainButton:hover{
  background-color: rgb(68, 68, 68) !important;
  color: #fff !important;
}
.mainButton > svg {
  stroke: #fff;
}

.uiStyle{
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #eee;
  height: 30px;
  line-height: 30px;
  padding:1px 4px;
}

img.modalImg{
  width: 100%;
  height: auto;
}

.welcomeText{
  font-size: 1.5rem;
  font-weight: 500;
}

.selectInput {
  display: flex;
  width: 204px;
  border-radius: 2px;
  border: 1px solid #eee;
  height: 32px;
  line-height: 30px;
  
  
}

.selectInput > div{
  display: flex;
  width: 100%;
  width: -webkit-fill-available;
}

select{
  border: 0px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23bbb'><polygon points='0,20 100,20 50,70'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-color: transparent;
}


.demo-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;
}

.demo-box:hover > img {
  border-color: #398287;
}

.demo-box:hover > span {
  color: #398287;
  text-decoration: underline;
}

.demo-box img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid transparent;
}
